@import "./styles/_variables.scss";

.background {
  background-image: url("../assets/images/home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @media (max-width: 1000px) {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
  margin: 0 4rem;
  text-align: center;
  color: white;

  @media (min-width: 1050px) {
    align-items: flex-start;
    width: 40%;
    margin-left: 10rem;
    color: black;
  }

  @media (min-width: 1900px) {
    width: 30%;
  }

  @media (min-width: 2250px) {
    width: 25%;
  }

  p {
    line-height: 1.5;
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: $primary;
}

.blackButton {
  width: 120px;
  height: 40px;
  background-color: $secondary;
  border: 1px solid $secondary;
  color: white;
  transition: 0.25s;
  &:hover,
  &:focus {
    box-shadow: inset 7.5em 0 0 0 transparent;
    background-color: transparent;
    color: $secondary;
  }
}

.whiteButton {
  width: 120px;
  height: 40px;
  border: 2px solid $primary;
  color: $primary;
  background-color: transparent;
  transition: 0.25s;

  &:hover,
  &:focus {
    box-shadow: inset 7.5em 0 0 0 $primary;
    color: #fff;
  }
}

.buttonWrapper {
  display: flex;
  gap: 1rem;
}
