@import "../styles/_variables.scss";

.sideMenu {
  position: absolute;
  width: 200px;
  height: 100vh;
  background-color: $secondary;
}

.dashboard {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.content {
  margin-left: 240px;
  margin-right: 40px;
}

.navBar {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;

  .user {
    margin-left: auto;
  }
}
